#photo1{
    
    max-width:480px;
    width:100%;
   
}
#photo2{
    
    max-width:600px;
    width:100%;
   
}
.image-section{
    display:flex;
    justify-content: center;      
    flex-wrap: wrap;
       
   
}

.child
{
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
    
}
body {
    text-align: center;
    background-color: #f0e8c5;
    
  }

  div {
    margin-top: 15px;
  }
  p{
      word-wrap: break-word;
  }